.list-desc {
  font-size: 14px;
}
.see-more-btn {
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  color: #560ce3;
}

.see-more-btn:hover {
  text-decoration: underline;
}
/* Custom Scroll */

/* SBTSection.module.css ya global CSS me */
.customScroll {
  height: 400px;
  overflow-y: scroll;
}

/* Scrollbar width */
.customScroll::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track (background) */
.customScroll::-webkit-scrollbar-track {
  background: red !important; /* light background */
  border-radius: 4px;
}

/* Scrollbar thumb (draggable part) */
.customScroll::-webkit-scrollbar-thumb {
  background: #c1c1c1 !important; /* light gray thumb */
  border-radius: 4px;
}

/* Optional: hover effect */
.customScroll::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
